.App {
  display: flex;
}

.ChessBoard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 90vmin;
  height: 90vmin;
  padding-top: 5vmin;
  padding-left: 5vmin;
}

.ChessPiece {
  position: relative;
  height: 95%;
  width: 95%;
}

.ChessBoardSquare {
  position: relative;
  width: 100%;
  height: 100%;
}

.Placeholder {
  width: 100%;
  height: 100%;
}

.ChessBoardSquareWhite {
  background-color: lightgray;
}

.ChessBoardSquareBlack {
  background-color: darkgray;
}

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.PromoteMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  top: 0;
  left: 0;
}

.GameInfo {
  margin-left: 5vmin;
  margin-top: 5vmin;
}

.ErrorText {
  color: red;
  font-weight: bold;
}

.SetupInfo {
  margin-left: 5vmin;
  margin-top: 5vmin;
  width: 20vw;
}

.SetupErrorBox {
  overflow: auto;
  background-color: lightgrey;
  width: 20vw;
  height: max(15vh, 4rem);
}

.SetupPieceBox {
  display: flex;
  width: 20vw;
  height: 3.33vw;
}

.LabelledTextbox {
  display: flex;
  justify-content: space-between;
}

.LabelledTextboxTextbox {
  flex-grow: .9;
}

@media (max-aspect-ratio: 2/1) {
  .App {
    flex-direction: column;
  }

  .SetupErrorBox {
    width: 65vw;
    height: max(15vh, 4rem);
  }

  .SetupPieceBox {
    display: flex;
    width: 65vw;
    height: 10.833vw;
  }
}